<h1> Account page </h1>
<h2><%= @user.username %> has <%= @phones.length %> phones</h2>

<table>
  <thead>
    <tr>
      <th>Phone type:</th>
      <th>Phone number:</th>
    </tr>
  </thead>
  <tbody>
    <% @phones.each do |p| %>
      <tr>
        <td><%= p.phone_type %></td>
        <td><%= p.phone_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>
